body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}

a {
    text-decoration: none;
    font-size: 23px;
    color: black;
}

a:hover {
    color: gray;
    transition-duration: 200ms;
}

* {
    box-sizing: border-box;
}